name: Send Email When New Commit is Pushed

on:
  push:
    branches: ["main"]

jobs:
  send_mail:
    runs-on: ubuntu-latest

    steps:
      - name: Send mail
        uses: dawidd6/action-send-mail@v6
        with:
          connection_url: smtp://sandbox.smtp.mailtrap.io:2525
          server_address: sandbox.smtp.mailtrap.io
          server_port: 2525
          secure: true
          username: cf2badebab38ed
          password: efe14043d892e8
          subject: Github Actions job result
          to: obiwan@example.com,yoda@example.com
          from: Luke Skywalker
          body: Build job of ${{ github.repository }} completed successfully!
          cc: kyloren@example.com,leia@example.com
          bcc: r2d2@example.com,hansolo@example.com
          reply_to: luke@example.com
          in_reply_to: <random-luke@example.com>
          ignore_cert: true
          convert_markdown: true
          attachments: attachments.zip,git.diff,./dist/static/*.js
          priority: low
        
